@using System.Reflection
@using Figase.Context;
@using System.Security.Claims
@using Figase.Enums
@using Figase.Utils
@model SearchModel
@{
    ViewData["Title"] = "Поиск";
}
<div class="search-panel">
    <h3>Поиск</h3>
    <div class="row">
        <div class="nav-block">
            @if (!User.Identity.IsAuthenticated)
            {
                <span><b>Пользователь не авторизован</b> </span>
                <a asp-area="" asp-controller="Home" asp-action="Login">Вход</a>
            }
            else
            {
                <span><b>@(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value ?? "Unknown")</b> </span>
                <a asp-controller="Home" asp-action="Profile">Профиль</a>                
                <a asp-controller="Home" asp-action="Logout">Выйти</a>
            }
        </div>
        <div class="col-md-12">
            <form asp-action="Search">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger summary-danger"></div>
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <span class="text-danger">
                                @ViewBag.Message
                            </span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FirstNamePrefix" class="control-label"></label>
                            <input asp-for="FirstNamePrefix" class="form-control" maxlength="100" />
                            <span asp-validation-for="FirstNamePrefix" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LastNamePrefix" class="control-label"></label>
                            <input asp-for="LastNamePrefix" class="form-control" maxlength="100" />
                            <span asp-validation-for="LastNamePrefix" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PageSize" class="control-label"></label>
                            <input asp-for="PageSize" class="form-control" maxlength="100" />
                            <span asp-validation-for="PageSize" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PageNum" class="control-label"></label>
                            <input asp-for="PageNum" class="form-control" maxlength="100" />
                            <span asp-validation-for="PageNum" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group text-center">
                        <input type="submit" value="Поиск" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <h2>Человеки</h2>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пол</th>
            <th>Хобби</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Действие</th>
            }
        </tr>
        @if (Model.Result != null && Model.Result.Count > 0)
        {
            foreach (Person person in Model.Result)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Gender.GetDescription()</td>
                    @*<td>@person.Hobby</td>*@
                    <td>@{
                            var personHobbies = new List<HobbiesKinds>();
                            foreach (var item in Enum.GetValues(typeof(HobbiesKinds)).Cast<HobbiesKinds>().Skip(1)) if (person.Hobby.HasFlag(item)) personHobbies.Add(item);
                            <span>@string.Join(", ", personHobbies.Select(h => h.GetDescription()))</span>
                    }</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a asp-controller="Home" asp-action="Profile" asp-route-id="@person.Id">Профиль</a>
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="@(User.Identity.IsAuthenticated ? 6 : 5)">Данных нет</td>
            </tr>
        }
    </table>
</div>
